.create-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top:12vh ;
    height:fit-content;
    min-height: 100vh;
}
.title{
    display: flex;
    justify-content: flex-start;
    width:50vw;
    margin-bottom: 4vh;
}
.title input{
    width:40vw;
    height:6vh;
    outline: none;
    border-radius: 5px;
    border: 1px solid cyan;
    font-size:2vmin;
    padding-left: 1vw;
}
.caption{
    display: flex;
    width:50vw;
    justify-content: flex-start;
    margin-bottom: 4vh;
}
.imgSelect{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    width:8vw;
    height:5vh;
    background-color: rgb(18, 53, 104);
    margin-right: 2vw;  
    color: #ffffff;
    font-family: 'Montserrat';
}
.btn1{
    transition: all 0.5s;
}
.btn1:hover{
    background-color: rgb(35, 66, 112);
}
.caption-input{
    width: 29vw;    
    outline: none;
    height:5vh;
    padding-left:1vw;
    border: 1px solid cyan;
    border-radius: 8px;

}   
.area{
    display: flex;
    justify-content: flex-start;
    width:50vw;
    height: 40vh;
}
.tox-editor-container{
    width:70vw;
}